@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.container{
    max-width:1140px;
    margin-inline:auto;
    overflow: hidden;
}
.pagewidth{
    max-width: 1100px;
    margin: auto;
    position: relative;
}
.pagewidth .contact{
    position: relative;
    
}
.contact::before{
    content: url(./assets/Group\ 81.png);
    position: absolute;
    bottom: -75%;
    z-index: -1;
    left: -10px;
}
.contact::after{
    content: url(./assets/Group\ 82.png);
    position: absolute;
    right: 0;
    bottom: -75%;
    z-index: -1;
}
.pagewidth .form{
    max-width: 900px;
    /* margin: auto;    */
    padding: 30px 20px; 
    box-shadow: 0px 0px 25px rgba(75, 0, 129, 0.12);
    margin-bottom: 60px;
    margin-top: 60px;
    position: relative;
    /* z-index: 1; */
    margin: 100px auto;
}

.pagewidth .form h2{
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    letter-spacing: 0.01em;
    text-align: center;
    color: rgba(32, 180, 134, 1);
    border-bottom: 2px solid rgba(32, 180, 134, 1);
    width: fit-content;
    margin: auto;
}
.pagewidth .form .inner-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 30px;
    padding: 20px 10px;
}
.pagewidth .form .inner-form p{
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.2px;
    text-align: left;
    color: rgba(15, 0, 26, 1);
    margin: 20px 0px;
}
.pagewidth .form .inner-form input{
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    border: 1.5px solid rgba(180, 190, 200, 1);
    border-radius: 5px;
    /* box-shadow: 1px 1px 1px 1px rgba(75, 0, 129, 0.12); */
}
.pagewidth .form .inner-form label{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
    color: rgba(15, 0, 26, 1);
}
.pagewidth .form .inner-form label textarea{
    border: 2px solid rgba(180, 190, 200, 1);
    border-radius: 5px;
    padding: 10px;
}
.pagewidth .form .inner-form input::placeholder{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
    color: rgba(15, 0, 26, 1);
}
.pagewidth .form .inner-form .email-form label input::placeholder{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
    color: rgba(135, 135, 135, 1);
}
.pagewidth .form .inner-form label textarea::placeholder{
    font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 19.36px;
text-align: left;
color: rgba(135, 135, 135, 1);
}
.pagewidth .form .inner-form button{
    background: rgba(32, 180, 134, 1);
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.78px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 10px;
    width: 100%;
    padding: 10px 0px;
    margin: 20px 0px;
}
.pagewidth .form .map{
    margin-top: 70px;
}
.pagewidth .form .map p{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: rgba(15, 0, 26, 1);
}
.pagewidth .form .map h5{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
    color: rgba(15, 0, 26, 1);
    text-decoration: underline;
}
.pagewidth .form .map h6{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
    color: rgba(15, 0, 26, 1);
    margin: 10px 0px;
}
.pagewidth .form .map img{
    margin-top: 15px;
}
.pagewidth .form .map .icon{
    color:rgba(15, 0, 26, 1);
    
}
.pagewidth .form .map .icon .youtube{
    margin-right: 10px;
    height: 20px;
}
.pagewidth .form .map .icon .insta{
    margin-right: 10px;
    height: 20px;
}
.pagewidth .form .map .icon .facebook{
    margin-right: 10px;
    height: 20px;
    
}