
.contact::before{
    content: url(./assets/Group\ 81.png);
    position: absolute;
    bottom: -75%;
    z-index: -1;
    left: -10px;
}
.contact::after{
    content: url(./assets/Group\ 82.png);
    position: absolute;
    right: 0;
    bottom: -75%;
    z-index: -1;
}
