@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.banner{
    background: rgba(36, 187, 140, 0.02);
}
.banner .inner_banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:40px;
    padding: 10px;
}
.banner .inner_banner .content{
    margin-top: 60px;
}
.banner .inner_banner .content h2{
    font-family: Inter;
    font-size: 50px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: -0.5px;
    color: rgba(16, 24, 40, 1);
}
.banner .inner_banner .content h2 span{
    color: rgba(32, 180, 134, 1);
}
.banner .inner_banner .content p{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
    color: rgba(100, 100, 100, 1);
}
.banner .banner_image{
    border: 2px solid rgb(32,180,134);
    /* border-radius: 70%; */
}
.banner .banner_image img{
    background: rgb(32,180,134);
    border-radius: 50%;
    width: 400px;
    margin-top: 40px;
    margin-left: 40px;
}
.banner .inner_banner .content .buttons{
    display: flex;
    margin-top: 30px;
}
.banner .inner_banner .content .buttons .getstarted button{
    background:rgb(32,180,134) ;
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 5px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    margin-right:20px ;
}
.banner .inner_banner .content .buttons .details button{
    background: rgba(234, 255, 249, 1);
    color: rgba(59, 196, 154, 1);
    border: none;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    padding: 10px 15px;
}
.banner .inner_banner .content .bar{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

/* Our services */
.our_services{
    padding: 40px 0px;
    margin-top: 20px;
}
.services{
    text-align: center;
}
.services h3{
    color: rgba(32, 180, 134, 1);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    
}
.services h2{
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(16, 24, 40, 1);
    margin: 20px 0px;
}
.page_width .service-detail{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin: 30px 0px;
}
.page_width .service-detail .card1{
    background: rgba(74, 200, 174, 1);
    border-radius: 10px;
    padding: 20px 30px;
}
.page_width .service-detail .card1 .card-img{
    display: flex;
}
.page_width .service-detail .card1 .card-img img{
    margin-right: 15px;
}
.page_width .service-detail .card1 .card-img h4{
    margin-top: 5px;
}
.page_width .service-detail .card1 h4{
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.02em;
    text-align: left;
    color: white;
}
.page_width .service-detail .card1 p{
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    margin: 15px 0px;
}

.page_width .service-detail .card1 button{
    border: none;
    background: rgba(74, 200, 174, 1);
    color: white;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    letter-spacing: 0.02em;
    text-align: center;
}
.page_width .service-detail .card2{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 0px 25px;
    background: rgba(255, 255, 255, 1);
}
.page_width .service-detail .card2 h4{
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(16, 24, 40, 1);
}
.page_width .service-detail .card2 .card-img{
    display: flex;
    margin-top: 25px;
}
.page_width .service-detail .card2 .card-img img{
    margin-right: 15px;
}
.page_width .service-detail .card2 .card-img h4{
    margin-top: 5px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(16, 24, 40, 1);
}
.page_width .service-detail .card2 p{
    color: rgba(100, 100, 100, 1);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    margin: 15px 0px;
}
.page_width .service-detail .card2 button{
    border: none;
    color: rgba(74, 200, 174, 1);
    background: none;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.2px;
    letter-spacing: 0.02em;
    text-align: center;
}

/* explore */
.explore .head h4{ 
    color: rgba(26, 144, 107, 1);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
}
.explore .head h2{
    color: rgba(16, 24, 40, 1);
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.02em;
    text-align: left;
    margin: 15px 0px;
}
.explore .head p{
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: rgba(102, 112, 133, 1);
}

/* cards */
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 40px;
}
.cards .inner_card{
    width: 350px; /* Adjust width as needed */
    background-color: #fff;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    box-sizing: border-box; 
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.cards .inner_card img{
    width: 100%;
}
.cards .inner_card h6{
    color: rgba(26, 144, 107, 1);
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    margin: 20px 0px;
}
.cards .inner_card .content h3{
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    color: rgba(16, 24, 40, 1);
}
.cards .inner_card .content p{
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: rgba(102, 112, 133, 1);
}
.cards .inner_card .content .stars{
    display: flex;
    margin-top: 10px;
}
.cards .inner_card .content .stars h4{ 
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    text-align: left;
    color: rgba(63, 200, 158, 1);
}

.cards .inner_card .content .stars .gold{
    color: rgba(255, 155, 38, 1);
    margin-top: 0px;
}
.cards .inner_card .content .stars p{
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-align: left;
    color: rgba(150, 150, 150, 1);
}
.cards .inner_card .content .logo{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}
.cards .inner_card .content .logo .desc{
    /* margin-left: 10px; */
}
.cards .inner_card .content .logo .desc h3{
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
}
.cards .inner_card .content .logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.cards .inner_card .content .logo span{
    margin-left: 65px;
    color: rgba(63, 200, 158, 1);
    font-family: Inter;
    font-size: 26px;
    font-weight: 700;
    line-height: 31.47px;
    text-align: right;
}
.page_width .btn{
    text-align: center;
    margin: 50px 0px;
}
.page_width .btn a{
    background: rgba(249, 250, 251, 1);
    color: rgba(16, 24, 40, 1);
    padding: 5px 15px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(208, 213, 221, 1) ;
}

/* Tutors */
.tutor{
    margin: 90px 0px;
}
.tutor .intro{
    text-align: center;
}
.tutor .intro h5{
    color: rgba(34, 178, 134, 1);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
}
.tutor .intro h3{
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(16, 24, 40, 1);
    margin: 10px 0px;
}
.tutor .intro p{
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: rgba(102, 112, 133, 1);
    margin: 15px 0px;
}
.tutor .intro-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.tutor .intro-card .card-details{
    width: 270px; /* Adjust width as needed */
    background-color: rgba(249, 250, 251, 1);
    border-radius: 5px;
    margin: 10px;
    padding: 25px;
    box-sizing: border-box; 
    text-align: center;
}
.tutor .intro-card .card-details h4{
    color: rgba(16, 24, 40, 1);
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
}
.tutor .intro-card .card-details h6{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: rgba(34, 178, 134, 1);
}
.tutor .intro-card .card-details p{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: rgba(102, 112, 133, 1);
    margin: 10px 0px;
}
.tutor .intro-card .card-details .twitt, .linke{
    color: rgba(152, 162, 179, 1);
    justify-content: space-between;
}
.tutor .intro-card .card-details .twitt{
    margin-right: 10px;
}

/* Reviews */
.review{
    background: rgba(240, 250, 247, 1);

}
.review .inner_review{
    text-align: center;
    padding: 80px 15px;
}
.review .inner_review h3{
    font-family: Inter;
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(16, 24, 40, 1);
    margin: 20px 0px;
}
.review .inner_review h5{
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    color: rgba(16, 24, 40, 1);
    margin: 10px 0px;
}
.review .inner_review p{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: rgba(102, 112, 133, 1);
}

/* Blogs */
.blog{
    margin: 80px 0px;
}
.blog h3{
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    text-align: left;
    color: rgba(16, 24, 40, 1);
    margin: 30px 0px;
}
.inner_blog{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.blog .blog-left .blog-content{
    display: flex;
}
.blog .blog-left .space{
    margin-top: 30px;
}
.blog .blog-left .blog-content img{
    width: 280px;
    height: 100%;
}
.blog .blog-left .blog-content .blog-desc{
    margin-left: 20px;
}
.blog .blog-left .blog-content .blog-desc h6{
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color: rgba(32, 180, 134, 1);
}
.blog .blog-left .blog-content .blog-desc h4{
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    color: rgba(16, 24, 40, 1);
    margin: 6px 0px;
}
.blog .blog-left .blog-content .blog-desc p{
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(102, 112, 133, 1);
}
.blog .blog-left .blog-content .blog-desc .imgs{
    margin-top: 23px;
}
.blog .blog-left .blog-content .blog-desc .research{
    color: rgba(193, 21, 116, 1);
    background: rgba(253, 242, 250, 1);
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    padding: 2px 10px;
    border-radius: 10px;
    margin-right: 10px;
}
.blog .blog-left .blog-content .blog-desc .uiux{
    background: rgba(240, 249, 255, 1);
    color: rgba(2, 106, 162, 1);
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    padding: 3px 10px;
    border-radius: 10px;
}
.blog .blog-right img{
    margin-bottom: 15px;
    width: 100%;
}
.blog .blog-right .blog-desc h6{
    color: rgba(32, 180, 134, 1);
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
}
.blog .blog-right .blog-desc h4{
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    text-align: left;
    color: rgba(16, 24, 40, 1);
}
.blog .blog-right .blog-desc p{
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(102, 112, 133, 1);
}
.blog .blog-right .blog-desc .imgs{
    margin-top: 15px;
}
.blog .blog-right .blog-desc .imgs .prog{
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    color: rgba(255, 155, 38, 1);
    background: rgba(255, 249, 243, 1);
    padding: 5px 10px;
    border-radius: 10px;
    margin-right: 10px;
}
.blog .blog-right .blog-desc .imgs .research{
    background: rgba(238, 244, 255, 1);
    color: rgba(53, 56, 205, 1);
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 10px;
    margin-right: 10px;
}
.blog .blog-right .blog-desc .imgs .devel{
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    background: rgba(253, 242, 250, 1);
    color: rgba(193, 21, 116, 1);
    padding: 5px 10px;
    border-radius: 10px;
}